body {
    font-family: Arial, sans-serif;
    background: #7a0ea3;

    color: white;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: #3012c4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

#noteText {
    flex: 1;
    background: #b3b3b3;
    color: white;
}

button {
    background: #7845e6;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #260483;
}

#notesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.note {
    padding: 10px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
    font-weight: bold;
}

.delete {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(163, 154, 154, 0.7);
    color: #ff6666;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.delete:hover {
    background: red;
}
